<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Richa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Richa.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>192.168.1.239</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5002</value>
            </setting>
            <setting name="DataFolder" serializeAs="String">
                <value />
            </setting>
        </Richa.Properties.Settings>
    </userSettings>
</configuration>